[Unit]
Description=Constellation REST Service
[Service]
User=ubuntu
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/home/ubuntu/constellation
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/home/ubuntu/constellation/start
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target