<configuration>
    <jmxConfigurator />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%X{node_id}] %-5level %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.constellation" level="info">
        <appender-ref ref="console" />
    </logger>
</configuration>